{% extends 'base.html' %}
{% from "modules/render_field.html" import render_field,render_submit,render_fieldlist %}

{% block title %}
    Customize Tableau Workbook
{% endblock %} 


{% block content %}
    <div class="container formWrapper">

    <form method=POST enctype=multipart/form-data action="{{ url_for('marimekko') }}">
        {{ form.csrf_token }}
        <p>Name of Workbook</p>
        
        {{ render_field(form.df_name) }}
        {{ render_field(form.df_value) }}  
        <div class="row">
            <div class="col-sm">      
                {{ render_field(form.df_mkcolumn) }}
            </div>
            <div class="col-sm">
                {{ render_field(form.df_mkstackbar) }}
            </div>
        </div>
        
        {{ render_submit(form.submit) }}
    </form>
    </div>
{% endblock %}